body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f2f2f2;
}

header {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 10px;
    font-size: 24px;
}

main {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

section {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
}

.project {
    padding: 10px;
    border-left: 4px solid #555;
    margin-bottom: 10px;
}

form input, form textarea {
    width: 100%;
    padding: 8px;
    margin: 8px;
}

button {
    padding: 10px;
    background: #333;
    color: white;
    border: none;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 15px;
    background: #333;
    color: white;
}

h1{
    font-size: 48px;
}

@media (max-width: 768px) {

    h1 {
        font-size: 32px;
    }

    nav a {
        display: inline-block;
        margin: 8px;
        font-size: 18px;
    }

    main {
        padding: 10px;
    }

    section {
        padding: 15px;
    }
}

@media (max-width: 480px) {

    header {
        padding: 15px;
    }

    nav a {
        display: block;
        margin: 8px 0;
        font-size: 18px;
    }

    h1 {
        font-size: 28px;
    }

    section {
        padding: 12px;
    }

    .project {
        padding: 8px;
    }

    button {
        padding: 10px;
    }
}

